##########################################
# Copyright & License Information
##########################################
#
# Copyright (c) 2025 Mike Schulze
# MIT License - See LICENSE file in the repository root for full license text
#
# This .editorconfig file is part of the GdUnit4Net project and is licensed
# under the MIT License. You may obtain a copy of the License at:
# https://github.com/MikeSchulze/gdUnit4Net/blob/master/LICENSE
#
# This configuration provides consistent code formatting and style rules
# for the GdUnit4Net C# test framework across different editors and IDEs.
#
# For more information about EditorConfig, visit: https://editorconfig.org
# For GdUnit4Net documentation, visit: https://github.com/MikeSchulze/gdUnit4Net
#
##########################################


# Version: 5.0.0 (GdUnit4 Consolidated - C# 12)
# Updated: 2025-06-15
# Consolidated configuration with C# 12 features enabled
# See http://EditorConfig.org for more information about .editorconfig files.

##########################################
# Common Settings
##########################################

root = true

# All Files
[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 180

##########################################
# File Extension Settings
##########################################

# Visual Studio Solution Files
[*.sln]
indent_style = tab

# Visual Studio XML Project Files
[*.{csproj,vbproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML Configuration Files
[*.{xml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 2

# JSON Files
[*.{json,json5,webmanifest}]
indent_size = 2

# YAML Files
[*.{yml,yaml}]
indent_size = 2
end_of_line = lf

# Markdown Files
[*.{md,mdx}]
trim_trailing_whitespace = false

# Web Files
[*.{htm,html,js,jsm,ts,tsx,cjs,cts,ctsx,mjs,mts,mtsx,css,sass,scss,less,pcss,svg,vue}]
indent_size = 2

# Batch Files
[*.{cmd,bat}]
end_of_line = crlf

# Bash Files
[*.sh]
end_of_line = lf

# Makefiles
[Makefile]
indent_style = tab

##########################################
# .NET Code Style and Analysis
##########################################

[*.{cs,csx,cake,vb,vbx}]
# Default severity for all .NET Code Style rules
dotnet_analyzer_diagnostic.severity = warning

##########################################
# Language Rules - .NET Style Rules
##########################################

# "this." and "Me." qualifiers (GdUnit4 preference: disabled)
dotnet_style_qualification_for_field = false : warning
dotnet_style_qualification_for_property = false : warning
dotnet_style_qualification_for_method = false : warning
dotnet_style_qualification_for_event = false : warning

# Language keywords vs framework types
dotnet_style_predefined_type_for_locals_parameters_members = true : warning
dotnet_style_predefined_type_for_member_access = true : warning

# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members : warning
csharp_preferred_modifier_order = public, private, protected, internal, required, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async : warning
dotnet_style_readonly_field = true : warning

# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity : warning
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity : warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity : warning
dotnet_style_parentheses_in_other_operators = never_if_unnecessary : warning

# Expression-level preferences
dotnet_style_object_initializer = true : warning
dotnet_style_collection_initializer = true : warning
dotnet_style_explicit_tuple_names = true : warning
dotnet_style_prefer_inferred_tuple_names = true : warning
dotnet_style_prefer_inferred_anonymous_type_member_names = true : warning
dotnet_style_prefer_auto_properties = true : warning
dotnet_style_prefer_conditional_expression_over_assignment = false : suggestion
dotnet_style_prefer_conditional_expression_over_return = false : suggestion
dotnet_style_prefer_compound_assignment = true : warning
dotnet_style_prefer_simplified_interpolation = true : warning
dotnet_style_prefer_simplified_boolean_expressions = true : warning

# Null-checking preferences
dotnet_style_coalesce_expression = true : warning
dotnet_style_null_propagation = true : warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true : warning

# Organize using directives
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Namespace options
dotnet_style_namespace_match_folder = true : suggestion

# Operator placement
dotnet_style_operator_placement_when_wrapping = beginning_of_line

##########################################
# C# 12 Specific Language Rules
##########################################

[*.{cs,csx,cake}]
# C# 12 Primary constructors
csharp_style_prefer_primary_constructors = true : suggestion

# C# 12 Collection expressions
csharp_style_prefer_collection_expression = when_types_exactly_match : suggestion

# C# 12 Default lambda parameters
csharp_style_prefer_default_literal = true : warning

# 'var' preferences
csharp_style_var_for_built_in_types = true : warning
csharp_style_var_when_type_is_apparent = true : warning
csharp_style_var_elsewhere = true : warning

# Expression-bodied members
csharp_style_expression_bodied_methods = true : warning
csharp_style_expression_bodied_constructors = true : warning
csharp_style_expression_bodied_operators = true : warning
csharp_style_expression_bodied_properties = true : warning
csharp_style_expression_bodied_indexers = true : warning
csharp_style_expression_bodied_accessors = true : warning
csharp_style_expression_bodied_lambdas = true : warning
csharp_style_expression_bodied_local_functions = true : warning

# Pattern matching preferences (enhanced in C# 12)
csharp_style_pattern_matching_over_is_with_cast_check = true : warning
csharp_style_pattern_matching_over_as_with_null_check = true : warning
csharp_style_prefer_switch_expression = true : warning
csharp_style_prefer_pattern_matching = true : warning
csharp_style_prefer_not_pattern = true : warning
csharp_style_prefer_extended_property_pattern = true : suggestion

# Expression-level preferences
csharp_style_inlined_variable_declaration = true : warning
csharp_prefer_simple_default_expression = true : warning
csharp_style_pattern_local_over_anonymous_function = true : warning
csharp_style_deconstructed_variable_declaration = true : warning
csharp_style_prefer_index_operator = true : warning
csharp_style_prefer_range_operator = true : warning
csharp_style_implicit_object_creation_when_type_is_apparent = true : warning
csharp_style_prefer_utf8_string_literals = true : suggestion
csharp_style_prefer_method_group_conversion = true : suggestion
csharp_style_prefer_tuple_swap = true : suggestion
csharp_style_prefer_readonly_struct = true : suggestion
csharp_style_prefer_readonly_struct_member = true : suggestion

# "Null" checking preferences
csharp_style_throw_expression = true : warning
csharp_style_conditional_delegate_call = true : warning

# Code block preferences
csharp_prefer_braces = when_multiline : warning
csharp_prefer_simple_using_statement = true : suggestion

# 'using' directive preferences
csharp_using_directive_placement = inside_namespace : warning

# Modifier preferences
csharp_prefer_static_local_function = true : warning

# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
csharp_new_line_before_binary_operators = false

# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = no_change
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false

# Spacing preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false

# Wrap preferences
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# Namespace preferences (C# 10+)
csharp_style_namespace_declarations = file_scoped : warning

##########################################
# Dead Code Analysis
##########################################

# .NET dead code analysis
dotnet_code_quality_unused_parameters = all : warning
dotnet_remove_unnecessary_suppression_exclusions = none : warning

# C# dead code analysis
csharp_style_unused_value_expression_statement_preference = discard_variable : suggestion
csharp_style_unused_value_assignment_preference = discard_variable : suggestion


##########################################
# Naming Rules
##########################################

# Styles
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
dotnet_naming_style.all_caps_style.capitalization = all_upper
dotnet_naming_style.prefix_interface_with_i_style.capitalization = pascal_case
dotnet_naming_style.prefix_interface_with_i_style.required_prefix = I
dotnet_naming_style.prefix_type_parameters_with_t_style.capitalization = pascal_case
dotnet_naming_style.prefix_type_parameters_with_t_style.required_prefix = T

# Constants - SCREAMING_SNAKE_CASE or PascalCase
dotnet_naming_symbols.constant_fields.applicable_kinds = field
dotnet_naming_symbols.constant_fields.applicable_accessibilities = *
dotnet_naming_symbols.constant_fields.required_modifiers = const
dotnet_naming_rule.constant_fields_should_be_all_caps.symbols = constant_fields
dotnet_naming_rule.constant_fields_should_be_all_caps.style = all_caps_style
dotnet_naming_rule.constant_fields_should_be_all_caps.severity = suggestion

# Static readonly fields - PascalCase
dotnet_naming_symbols.static_readonly_fields.applicable_kinds = field
dotnet_naming_symbols.static_readonly_fields.applicable_accessibilities = *
dotnet_naming_symbols.static_readonly_fields.required_modifiers = static, readonly
dotnet_naming_rule.static_readonly_fields_should_be_pascal_case.symbols = static_readonly_fields
dotnet_naming_rule.static_readonly_fields_should_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.static_readonly_fields_should_be_pascal_case.severity = warning

# Private fields - camelCase
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_rule.private_fields_should_be_camel_case.symbols = private_fields
dotnet_naming_rule.private_fields_should_be_camel_case.style = camel_case_style
dotnet_naming_rule.private_fields_should_be_camel_case.severity = warning

# Interfaces - PascalCase with I prefix
dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.symbols = interfaces
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.style = prefix_interface_with_i_style
dotnet_naming_rule.interfaces_should_be_prefixed_with_i.severity = warning

# Type parameters - PascalCase with T prefix
dotnet_naming_symbols.type_parameters.applicable_kinds = type_parameter
dotnet_naming_rule.type_parameters_should_be_prefixed_with_t.symbols = type_parameters
dotnet_naming_rule.type_parameters_should_be_prefixed_with_t.style = prefix_type_parameters_with_t_style
dotnet_naming_rule.type_parameters_should_be_prefixed_with_t.severity = warning

# Methods, properties, events, classes, etc. - PascalCase
dotnet_naming_symbols.pascal_case_symbols.applicable_kinds = namespace, class, struct, enum, delegate, event, method, property
dotnet_naming_rule.pascal_case_symbols_should_be_pascal_case.symbols = pascal_case_symbols
dotnet_naming_rule.pascal_case_symbols_should_be_pascal_case.style = pascal_case_style
dotnet_naming_rule.pascal_case_symbols_should_be_pascal_case.severity = warning

# Parameters and locals - camelCase
dotnet_naming_symbols.parameters_and_locals.applicable_kinds = parameter, local
dotnet_naming_rule.parameters_and_locals_should_be_camel_case.symbols = parameters_and_locals
dotnet_naming_rule.parameters_and_locals_should_be_camel_case.style = camel_case_style
dotnet_naming_rule.parameters_and_locals_should_be_camel_case.severity = warning

##########################################
# ReSharper/Rider Specific Settings
##########################################

# Member ordering
resharper_member_order = accessibility, kind
resharper_arrange_member_access_first = true
resharper_arrange_static_member_qualifier = true
resharper_arrange_type_member_modifiers = true
resharper_arrange_type_modifiers = true
resharper_apply_member_ordering_pattern = true

# Blank lines
resharper_blank_lines_after_block_statements = 1
resharper_blank_lines_around_single_line_type = 1
resharper_blank_lines_around_field = 1
resharper_blank_lines_around_property = 1
resharper_blank_lines_around_method = 1
resharper_blank_lines_after_using_list = 1
resharper_keep_blank_lines_in_code = 1
resharper_keep_blank_lines_in_declarations = 1
resharper_remove_blank_lines_near_braces = true
resharper_blank_lines_between_using_groups = 1

# Spacing
resharper_space_within_single_line_array_initializer_braces = true
resharper_space_in_singleline_method = true
resharper_space_after_new_expression = true

# Attributes
resharper_place_attribute_on_same_line = false
resharper_place_simple_attribute_on_same_line = false

# Format on save
resharper_apply_on_save = true

##########################################
# StyleCop and Code Quality Overrides
##########################################

# GdUnit4 specific overrides
dotnet_diagnostic.SA1101.severity = none # Don't require 'this.' prefix
dotnet_diagnostic.SA1636.severity = none
dotnet_diagnostic.SA1633.severity = none # File must have header
dotnet_diagnostic.SA1635.severity = none # File header must have copyright text
dotnet_diagnostic.SA1637.severity = none # File header must contain file name
dotnet_diagnostic.SA1638.severity = none # File header file name documentation must match file name
dotnet_diagnostic.SA1634.severity = none # File header must show copyright

# IDE rules overrides
dotnet_diagnostic.IDE0130.severity = none # Namespace does not match folder structure

# Allow underscore in constant names (for SCREAMING_SNAKE_CASE)
dotnet_diagnostic.SA1310.severity = none

# Disable braces requirements for single-line statements
dotnet_diagnostic.SA1503.severity = none

# Disable parameter spanning multiple lines requirement
dotnet_diagnostic.SA1118.severity = none

# Disable requirements for qualified using directives
dotnet_diagnostic.SA1135.severity = none

# Allow trailing commas
dotnet_diagnostic.SA1413.severity = none

# Blank line rules
dotnet_diagnostic.SA1507.severity = warning

# Don't require localization
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1304.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1310.severity = none
dotnet_diagnostic.CA1311.severity = none
dotnet_diagnostic.CA1822.severity = none
dotnet_diagnostic.CA1861.severity = none # Allow constant arrays as arguments

# Usage category warnings
dotnet_analyzer_diagnostic.category-Usage.severity = warning

# C# 12 collection expression rules (enable selectively)
dotnet_diagnostic.IDE0290.severity = suggestion # Use primary constructor

##########################################
# Test Folder Exclusions
##########################################

# Disable analyzers for test folder
[addons/gdUnit4/test/**/*.{cs,csx,cake}]
# Disable all analyzer rules for test files
dotnet_analyzer_diagnostic.severity = silent
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1633.severity = none


# Godot-specific generated files
[**/.godot/**/*.{cs,vb}]
dotnet_analyzer_diagnostic.severity = silent
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.SA1633.severity = none

##########################################
# License
##########################################
# Based on https://github.com/RehanSaeed/EditorConfig
# MIT License - See original project for full license text
