# Exclude files not needed for AssetLib users.

/**                    export-ignore
/addons                !export-ignore
/addons/gdUnit4        !export-ignore
/addons/gdUnit4/**     !export-ignore
/addons/gdUnit4/test   export-ignore
