<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
    <!-- Add any other package sources you need, such as local feeds or private repositories -->
  </packageSources>
  <packageSourceMapping>
    <!-- This section is optional but recommended for security -->
    <packageSource key="nuget.org">
      <package pattern="*"/>
    </packageSource>
  </packageSourceMapping>
  <config>
    <add key="dependencyVersion" value="Highest"/>
  </config>
  <packageRestore>
    <add key="enabled" value="True"/>
    <add key="automatic" value="True"/>
  </packageRestore>
  <solution>
    <add key="disableSourceControlIntegration" value="true"/>
  </solution>
</configuration>
