name: 'Publish Test Report'
on:
  workflow_run:
    workflows: ['ci-pr']  # runs after ci-pr workflow
    types:
      - completed
  workflow_dispatch:
    inputs:
      workflow_run_id:
        description: 'ID of the workflow run to download artifacts from.'
        required: true
        default: ''

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  unit-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        godot-version: ['4.1', '4.1.1', '4.1.2', '4.1.3', '4.1.4', '4.2', '4.2.1', '4.2.2']
        godot-status: ['stable']
        godot-net: ['-net', '']
        include:
          - godot-version: '4.3'
            godot-status: 'dev5'

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          name: artifact_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: MikeSchulze/gdUnit4
          run-id: ${{ github.event.inputs.workflow_run_id || github.event.workflow_run.id }}
      - run: |
          ls -ls ./
          unzip artifact_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}.zip

      - name: 'Publish Test Results'
        uses: dorny/test-reporter@v1.9.0
        with:
          name: report_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          # using artifact to download is broken since download-artifact@v4 see https://github.com/dorny/test-reporter/issues/363
          #artifact: artifact_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          path: 'home\runner\work\gdUnit4\gdUnit4\reports\report_1\results.xml'
          reporter: java-junit
          fail-on-error: 'false'
          fail-on-empty: 'false'
