name: 'Publish Test Report'

on: # yamllint disable-line rule:truthy
  workflow_run:
    workflows: ['ci-pr']  # runs after ci-pr workflow
    types:
      - completed
  workflow_dispatch:
    inputs:
      workflow_run_id:
        description: 'ID of the workflow run to download artifacts from.'
        required: true
        default: ''

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  publish-reports:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 10
      matrix:
        godot-version: ['4.5', '4.5.1']
        godot-status: ['stable']
        godot-net: ['-net', '']
        #include:
        #  - godot-version: '4.5'
        #    godot-status: 'dev5'

    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: .github

      - name: 'Download artifacts'
        uses: actions/download-artifact@v7
        with:
          name: artifact_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: MikeSchulze/gdUnit4
          run-id: ${{ github.event.inputs.workflow_run_id || github.event.workflow_run.id }}

      - name: 'Publish Test Results'
        uses: dorny/test-reporter@v2
        with:
          # using artifact to download is broken since download-artifact@v4 see https://github.com/dorny/test-reporter/issues/363
          # We do the download manually on step `Download artifacts`
          # artifact: artifact_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          name: report_gdUnit4_Godot${{ matrix.godot-version }}-${{ matrix.godot-status }}${{ matrix.godot-net }}
          path: './home/runner/work/gdUnit4/gdUnit4/reports/**/*.xml'
          reporter: ${{ matrix.godot-net == '-net' && 'dotnet-trx' || 'java-junit' }}
          fail-on-error: 'false'
          fail-on-empty: 'false'
          use-actions-summary: 'false'
